.petImage {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
  height: 280px;
  max-width: 280px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  max-height: fit-content;
  object-fit: fill;
  border-radius: 10px;
}

.background {
  color: #e9d6be;
}
