.carousel {
    box-shadow: 2px 2px 10px black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.caption {
    text-shadow: 4px 4px 8px black;
}

.description {
    text-shadow: 4px 4px 8px black;
}
