
.pet-image {
    display: block;
    margin-top: auto;;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    height: 400px;
    max-width: 600px;
    object-fit: cover;
    border-radius: 10px;
    text-align: right;

}

.img-cont {
    text-align: right;
    margin: 0px 0px 10px 0px;
}

.pet-detail-container h3 {
    text-align: center;
}
.pet-name-text {
    text-align: center;
}


.pet-details-cont {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    max-width: 492px;
    margin: 0px 0px 10px 0px;
}
.pet-details {
    box-shadow: 0px 0px 10px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:400px;
    width: 100%;
    border-radius: 10px;

}

.pet-details p {
    font-size: 18px;
}


.description-container {
    border-radius: 10px;
    margin: 10px;

}

.pet-description {
    text-align: left;
    box-shadow: 0px 0px 10px lightgray;
    padding: 10px;
    border-radius: 10px;
    text-shadow: none;
}


.shelter-details {
    box-shadow: 0px 0px 10px lightgray;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
}

.pet-apply {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 90%;
    height: 50px;
    font-size: 18px;
    margin: 10px 0px 10px 17px;
}
.pet-detail-header-3{
    text-align: left;
}
