.pet-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pet-card-image {
    width: 100%;
    height: 16em;
    object-fit: cover;
    border-radius: 10px;
}

.pet-list-heading {
    text-align: center;
}

.pet-card{
    padding: 5x;
    margin: 5px;
    width: 300px;
}

.filter-head {
    text-align: center;
    margin-top: 15px;
}

.pet-name {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.center {
    margin-top: 50px;
    padding-top: 20px;
}

.filtering{
    align-items: center;
    box-shadow: 0px 0px 9px lightgrey;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 0px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

.pet-info {
    text-align: center;
}
.pet-text-details{
    text-align: center;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }

.card button:hover {
    opacity: 0.7;
}
