.heading {
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    font-size: 3rem;
    color: black;
    padding: 10px 5px 5px 5px;
}

.main-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    min-height: 560px;
}

.main-card img{
    border-radius: 10px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    }

.card button:hover {
    opacity: 0.7;
}

.featured {
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
}

.dev-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dev-image {
    display: block;
    margin-top: auto;;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;

}

.dev-name{
    text-align: center;
}

.dev-role {
    text-align: center;
}
