
.navbar {
    padding: 0px !important;
    margin: 0px !important;
}
.navbar-custom{
    background-color: rgb(143, 196, 143);
}

.navbar-brand {
    padding: 1px 1px 1px 1px;
    font-family: 'Staatliches', sans-serif;
    font-size: 3rem;
    color: white;
    text-shadow: 3px 3px 6px darkgreen;
}
