.img1 {
    display: block;
    margin-top: auto;;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    min-height: 200px
}
.sign-up {
    align-items: center;
    box-shadow: 0px 0px 9px lightgrey;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

.s-heading{
    text-align: center;
}
